@use "sass:color";

$color-primary: rgb(0, 0, 0) !default;
$color-secondary: #d1dbd2 !default;

$color-secondary-dark: #929c93 !default;
$color-secondary-light: color.scale($color-secondary, $lightness: 20%) !default;

/** Breakpoints */
$breakpoint-lg: 75em !default; /** 1200px oder schmaler */
$breakpoint-md: 62em !default; /** 992px oder schmaler */
$breakpoint-sm: 48em !default; /** 768px oder schmaler */
$breakpoint-xs: 36em !default; /** 576px oder schmaler */
$breakpoint-xxs: 25em !default; /** 400px oder schmaler */

@media (max-width: $breakpoint-lg) {
}
@media (max-width: $breakpoint-md) {
}
@media (max-width: $breakpoint-sm) {
}
@media (max-width: $breakpoint-xs) {
}
@media (max-width: $breakpoint-xxs) {
}
