@use "sass:color";
@use "sass:math";

$slope-incline: math.asin(0.1);

$color-primary: #000 !default;
$color-secondary: #fff !default;

$color-secondary-dark: #201811 !default;
$color-secondary-light: #a37a5a !default;

/** Breakpoints */
$breakpoint-lg: 75em !default; /** 1200px oder schmaler */
$breakpoint-md: 62em !default; /** 992px oder schmaler */
$breakpoint-sm: 48em !default; /** 768px oder schmaler */
$breakpoint-xs: 36em !default; /** 576px oder schmaler */
$breakpoint-xxs: 25em !default; /** 400px oder schmaler */

@media (max-width: $breakpoint-lg) {
}
@media (max-width: $breakpoint-md) {
}
@media (max-width: $breakpoint-sm) {
}
@media (max-width: $breakpoint-xs) {
}
@media (max-width: $breakpoint-xxs) {
}
