@use "../../components/abstracts" as *;

.header {
  margin-top: 5rem;
  height: 35rem;
  min-height: calc(13rem + 32vw);
  position: relative;
  overflow: hidden;
  background-image: url("../../images/header_1.jpg");
  background-size: cover;
}
@media (max-width: $breakpoint-lg) {
  .header {
    height: calc(18rem + 32vw);
  }
}

.header__container {
  position: relative;
  max-width: 75rem;
  margin: 0px auto;
  padding: 0 2rem;
  display: block;
  clear: both;
  content: "";
}
@media (max-width: $breakpoint-xs) {
  .header__container {
    padding: 0 1rem;
  }
}

.header__heading-container {
  clear: both;
}

.header__heading-main {
  height: 20rem;
  font-weight: 700;
  padding-top: 5rem;
  line-height: 92%;
  font-size: 6rem;
  text-align: center;
  color: $color-secondary;
  text-transform: uppercase;
  text-shadow: 0 0 0.5rem $color-secondary-dark;
}
@media (max-width: $breakpoint-md) {
  .header__heading-main {
    padding-top: 3rem;
    font-size: 4rem;
  }
}
@media (max-width: $breakpoint-sm) {
  .header__heading-main {
    padding-top: 2rem;
    font-size: 2rem;
  }
}

.header__heading-sub {
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  text-align: center;
  color: $color-secondary;
  text-transform: uppercase;
  text-shadow: 0 0 0.5rem $color-secondary-dark;
  z-index: 1;
  position: relative;
}
@media (max-width: $breakpoint-sm) {
  .header__heading-sub {
    margin-top: -5rem;
    font-size: 1rem;
  }
}
@media (max-width: $breakpoint-xs) {
  .header__heading-sub {
    margin-top: -10rem;
  }
}
