@use "../../components/abstracts" as *;

@use "sass:color";

.footer {
  background-image: url("../../images/wood2.jpg");
  padding: 3rem 0 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0rem;
}

.footer__heading {
  text-align: center;
  display: block;
  margin: 2rem;
  color: $color-secondary;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  max-width: 70%;
  line-height: 1.1em;
  text-shadow: 0 0 1rem $color-primary;
  @media (max-width: $breakpoint-sm) {
    font-size: 2rem;
  }
  @media (max-width: $breakpoint-xs) {
    font-size: 1.5rem;
  }
}
.footer__container {
  margin-right: 10rem;
  display: flex;
  width: 70%;
  height: 5rem;
  padding: 0;
  justify-content: space-around;
  @media (max-width: $breakpoint-sm) {
    display: block;
    transform: translate(38%);
    height: 10rem;
  }
  @media (max-width: $breakpoint-xs) {
    transform: translate(28%);
  }
  @media (max-width: $breakpoint-xxs) {
    transform: translate(18%);
  }
}

.footer__contact-item {
  padding-left: 1rem;
  position: relative;
  margin-bottom: 0.75rem;
}

.footer__contact-item-icon {
  position: relative;
  z-index: 2;

  background-color: $color-primary;
  height: 4rem;
  width: 4rem;
  text-align: center;
  border-radius: 100000px;
  font-size: 2.5rem;
  color: $color-secondary;

  &--phone {
    line-height: 3.7rem;
  }
}

.footer__contact-item-link {
  position: absolute;
  z-index: 1;
  left: 2rem;
  top: 0.25rem;

  white-space: nowrap;
  background-color: $color-primary;
  text-decoration: none;
  color: $color-secondary;
  padding: 1rem 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 15rem;
  text-align: center;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc(-100% - 5rem);
    width: calc(100% + 5rem);
    bottom: 0;

    background-image: linear-gradient(
      -45deg,
      transparent 2.82rem,
      $color-secondary 2.82rem
    );
    background-position: right center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }

  &:hover {
    color: $color-primary;
    &::after {
      transform: translate(100%, 0);
    }
  }
}

.footer__footer-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__footer-link {
  display: inline-block;
  color: $color-secondary;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-shadow: 0 0 1rem $color-primary;
  white-space: nowrap;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: $color-secondary-light;
  }
  @media (max-width: $breakpoint-md) {
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 1rem;
  }
  @media (max-width: $breakpoint-xxs) {
    padding: 0.5rem 0.5rem;
    font-size: 0.6rem;
  }
}
.footer__footer-p {
  display: inline-block;
  color: $color-secondary;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-shadow: 0 0 1rem $color-primary;
  white-space: nowrap;
  transition: color 0.25s ease-in-out;

  @media (max-width: $breakpoint-md) {
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 1rem;
  }
  @media (max-width: $breakpoint-xxs) {
    padding: 0.5rem 0.5rem;
    font-size: 0.6rem;
  }
}

.footer_icon {
  fill: currentColor;
  height: 1em;
  vertical-align: middle;
}

.social-media {
  border-bottom: 0.2rem solid $color-primary;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  a {
    display: flex;
    background: #fff;
    height: 5rem;
    width: 5rem;
    margin: 0 1rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
    @media (max-width: $breakpoint-xs) {
      height: 3rem;
      width: 3rem;
    }
    @media (max-width: $breakpoint-xxs) {
      height: 2.5rem;
      width: 2.5rem;
      margin: 0 0.5rem;
    }
  }
  a i {
    font-size: 3rem;
    color: #777;
    transition: transform 0.5s;
    @media (max-width: $breakpoint-xs) {
      font-size: 2rem;
    }
    @media (max-width: $breakpoint-xxs) {
      font-size: 1.5rem;
    }
  }
  a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.01);
    transform: translate(2px);
  }
  a:hover i {
    transform: scale(0.9);
    color: #777;
  }
  a:hover .fa-twitter {
    color: #1d9bf0;
  }
  a:hover .fa-instagram {
    color: #f14843;
  }
  a:hover .fa-linkedin {
    color: #3b5998;
  }
  a:hover .fa-medium {
    color: #000000;
  }
  a:hover .fa-whatsapp {
    color: #00e676;
  }
}
